@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

/*font-family: 'Press Start 2P', cursive;
font-family: 'VT323', monospace;*/

:root {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Press Start 2P', cursive;
    background-color: #f1b83496;
}



canvas {
    display: block;
    /* position: absolute; */
    top: 10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: 20px;
    border: 8px solid #68386C;
 }

 .textojogo {
     text-align: center;
     margin: auto;
 }

 .id_loja {
     display: none;
 }

 table {
     background-color: #7E195E;
     border: 2px solid #000;
     text-align: center; 
     padding: 5px;
     margin: auto;
     margin-top: 20px;
     border-radius: 10px;
 }

 table th, table td {
     background-color: #d27bd8;
     padding: 15px;
     border: 2px solid #000;
     border-radius: 5px;
 }

 .btncomprar {
     padding: 0px;
 }

 p {
     padding: 5px;
     
 }

 a {
     text-decoration: none;
     padding: 14px 25px;
 }

 table a:hover {
    background-color: #87338d;
 }

 #recorde {
     margin-top: 20px;
     font-size: 20px;
 }